.pageoverflow {
 overflow:auto;
}

.pagenav, .browsenav {
 padding:5px;
}

.lolines textarea {
 height:4em;
}
.midlines textarea {
 height:7em;
}
.hilines textarea {
 height:15em;
}

/* parameter-tip icons displayed by jQuery if working */
div.pageoverflow img.tipper {
 display:none;
}

/* radio buttons */
label.radiolabel {
 margin:0 0.5em;
 vertical-align:0.2em;
}

/* empty = just kill .pagetable settings */
table.pagetable th {}
table.pagetable td.check {
 text-align:center;
}

table.leftwards {
 margin-left:0;
 width:auto;
 table-layout:auto;
}

table.rightwards {
 margin-right:0;
 width:auto;
 table-layout:auto;
}

table.table_sort th {
 padding:5px;
 margin-left:20px;
 margin-right:20px;
 border-collapse:collapse;
 background-image:none;
 text-align:left;
 cursor:default;
}

table.table_sort th.ord, table.table_sort th.\{sss\:false\} {
 margin-left: 0;
 padding-left: 2px;
}

table.table_sort th.checkbox {
 margin-left: 20px;
 padding-left: 10px;
}

table.table_sort th.SortAble {
 padding-left:10px;
 background-image:url(../images/bgdark.gif);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort th.SortUp {
 padding-left:10px;
 background-image:url(../images/ascdark.gif);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort th.SortDown {
 padding-left:10px;
 background-image:url(../images/descdark.gif);
 background-repeat:no-repeat;
 background-position:center left;
 cursor:pointer;
}

table.table_sort td.row1s {
 background-color:#e9e9e9;
}

table.table_sort td.row2s {
 background-color:#d9d9d9;
}
/* for making inputs look like links */
input.fakeicon {
 margin:0;
 padding:0;
 border-style:hidden;
 border-radius:0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 background:none;
 vertical-align:middle;
}
/* color and size will be conformed at runtime, if js is enabled */
input.fakelink {
 margin:0;
 padding:0;
 border:none;
 border:0;
 outline:none;
 background:none;
 text-align:left;
 text-decoration:underline;
 font-family:inherit;
/* font-size:1em; */
}

input.fakelink:hover {
 text-decoration:none;
 background:none;
}

input.fakelink:focus {
  outline: none;
}
