/* styles for popup modal dialog */

/* Overlay */
#alertable\-overlay {
 position:fixed;
 z-index:9998;
 top:0;
 right:0;
 bottom:0;
 left:0;
 background:rgba(153, 153, 153, .5);
}

/* Form */
#alertable {
 position:fixed;
 z-index:9999;
 top:38vh; /* TODO */
 left:calc(50% - 150px); /* TODO */
 width:300px;
 background-color:#f2f2f2;
 border:solid 3px #173617;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:20px;
 margin:0 auto;
}

#alertable\-error {
 position:fixed;
 z-index:9999;
 top:38vh; /* TODO */
 left:calc(50% - 150px); /* TODO */
 width:300px;
 background-color:#f9ebeb;
 border:solid 3px #990000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:20px;
 margin:0 auto;
}

/* Message */
#alertable\-message {
 font-weight:bold;
/* font-size:inherit; */
 margin-bottom:20px;
}

#alertable\-error\-message {
 margin-bottom:20px;
 color:#f00;
/* font-size:inherit; */
 font-weight:bold;
}

/* Prompt */
#alertable\-prompt,
#alertable h3,
#alertable h4,
#alertable h5 {
 font-weight:bold;
 margin-bottom:20px;
}

#alertable\-input {
 width:95%;
 box-shadow:none;
 border:solid 1px #003300;
 font-family:inherit;
/* font-size:inherit; */
 color:inherit;
 padding:6px 12px;
 display:block;
 box-sizing:border-box;
 margin-bottom:10px;
}

/* Button group */
#alertable\-buttons {
 text-align:center;
}

/* OK button */
#alertable\-ok {
 background-color:#ecbb00;
 border:solid 1px #ecbb00;
 font-family:inherit;
/* font-size:inherit; */
 font-weight:bold;
 color:#000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:6px 12px;
 margin-left:4px;
 cursor:pointer;
}

#alertable\-ok:hover,
#alertable\-ok:focus,
#alertable\-ok:active {
 color:#fff;
 background-color:#00b200;
}

/* Cancel button */
#alertable\-cancel {
 border:solid 1px #ecbb00;
 background-color:#ecbb00;
 font-family:inherit;
/* font-size:inherit; */
 font-weight:bold;
 color:#000;
 -moz-border-radius:4px;
 -webkit-border-radius:4px;
 border-radius:4px;
 padding:6px 12px;
 margin-left:4px;
 cursor:pointer;
}

#alertable\-cancel:hover,
#alertable\-cancel:focus,
#alertable\-cancel:active {
 color:#fff;
 background-color:#f00;
}
