/* para containing feedback/error message */
.pagemessage, #needjs {
 color:red;
 font-weight:bold;
 text-align:center;
}
/* para containing item title */
.bkgtitle {
 font-weight:bold;
 text-align:center;
}
/* div containing item description */
.bkgdesc{
 margin-bottom:0.5em;
}
/* div containing item image(s) */
.bkgimg{
}
/* para containing custom notice on booking-start page */
.bkgnotice{
 margin:0.5em 0;
 font-weight:bold;
 color:#F00;
}
/* [un]displayable div containing help */
div.helptoggle {
 margin-left:28px;
}
/* bookings-data list */
.bkglist{
}
/* bookings-data table */
table.daily {
}
table.weekly {
}
table.monthly {
}
table.yearly {
}

table.booker {
 margin:0;
 border:0;
 border-collapse:separate; /*for tableHeadFixer*/
 border-spacing:0;
 color:black;
}

table.booker th {
 border:1px solid #AAA;
}
table.booker th.topleft{
 border-top-color:#FFF;
 border-left-color:#FFF;
}
table.booker th.periodname {
 text-align:center;
 color:black;
 background-color:#CCD6FF /*pale blue*/
}

table.booker td {
 color:black;
 border:1px solid #AAA;
 cursor:pointer;
}

table.booker td.list {
 border-left:0;
 border-right:0;
 vertical-align:top;
 cursor:default;
}

table.booker td.slotname{
 text-align:right;
 background-color:#CCD6FF /*pale blue*/
}

table.booker td.vacant {
 background-color:#FFF; /*white*/
}

/* slot focussed */
table.booker td.slotfocus{
 border-color:#F00;
 border-width:2px;
 border-style:double;
}

/*slot requested*/
table.booker td.request {
 color:#F2F2F2; /* light grey */
 background-color:#6B246B; /*dark purple*/
}

/*slot unavailable*/
table.booker td.impossible {
 background-color:#999; /*mid-grey*/
}

/*fully booked slot, multiple users */
table.booker td.fullm {
 color:#E9E9E9;
 background-color:#669; /*dull-violet*/
}
/*part-booked, multi-users */
table.booker td.partm {
 background-color:#B2B2CC; /*dull-mauve*/
}

/* user-classes, each full- and part-booked */
table.booker td.full {
 background-color:#090; /*green*/
}
table.booker td.part {
 background-color:#99D699;
}

table.booker td.full1 {
 background-color:#090; /*green*/
}
table.booker td.part1 {
 background-color:#99D699;
}

table.booker td.full2 {
 background-color:#F00; /*red*/
}
table.booker td.part2 {
 background-color:#F66;
}

table.booker td.full3 {
 background-color:#06F; /*blue*/
}
table.booker td.part3 {
 background-color:#80B2FF;
}

table.booker td.full4 {
 background-color:#F3F; /*purple*/
}
table.booker td.part4 {
 background-color:#F9F;
}

table.booker td.full5 {
 background-color:#F90; /*orange*/
}
table.booker td.part5 {
 background-color:#FFD699;
}
/*action-buttons table */
#bookactions {
 border:0;
 max-width:100%;
}
#bookactions td {
 border:0;
 padding:5px 5px 0 5px;
}
/* focussed action-button */
.btnfocus {
 color:#F00;
 font-weight:bold;
}

#btngo {
 padding:10px 20px;
 background:#8093ff;
 border:1px solid #3e9cbf;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
 border-radius:10px;
 -webkit-box-shadow:0 0 4px rgba(0,0,0, .75);
 -moz-box-shadow:0 0 4px rgba(0,0,0, .75);
 box-shadow:inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
 color:#f3f3f3;
 white-space:nowrap;
 font-size:18px;
 font-weight:bold;
}
#btngo:hover, #btngo:focus{
 background-color :#4d67ff;
 color:#f3f3f3;
 -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
 -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
 box-shadow: 0 0 1px rgba(0,0,0, .75);
}
#btngo.btnfocus {
 color:#F00;
}

/*booking-request-page table */
table.shrink {
 border:0;
 margin:0;
 max-width:100%;
}
table.shrink td {
 padding:1px 3px;
 border:0;
 margin:0;
}
table.shrink .reqtitle label {
 font-weight:bold;
}

/*radio buttons*/
.radiolabel {
 margin-right:5px;
 vertical-align:top;
}
input.captcha {
 display:table-cell;
 vertical-align:28px;
}

fieldset {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
/*padding-top:10px;*/
 border:1px solid #AAA;
 border-radius:8px;
/*box-shadow:0 0 10px #AAA;*/
}
legend {
 margin-left:1em;
 padding:0 5px;
}
/*legend {
 float:left;
 margin-left:1em;
 margin-top:-20px;
}
legend + * {
 clear:both;
}
*/

/* sorted tables */
table.table_sort thead tr th {
 margin: 0 20px;
 padding: 5px 5px 5px 10px;
/* color: #000; */
/* background: #E5B400; / *gold*/
 text-align: left;
 cursor: default;
}

table.table_sort thead tr th.ord, table.table_sort thead tr th.\{sss\:false\}
{
 margin-left: 0;
 padding-left: 2px;
}

table.table_sort thead tr th.checkbox
{
 margin-left: 20px;
 padding-left: 10px;
}

table.table_sort thead tr .SortAble {
 background-image: url(../images/bgdark.gif);
 background-repeat: no-repeat;
 background-position: center left;
 cursor: pointer;
}

table.table_sort thead tr .SortUp {
 background-image: url(../images/ascdark.gif);
 background-repeat: no-repeat;
 background-position: center left;
 cursor: pointer;
}

table.table_sort thead tr .SortDown {
 background-image: url(../images/descdark.gif);
 background-repeat: no-repeat;
 background-position: center left;
 cursor: pointer;
}

table.table_sort tbody td.row1s {
 background-color: #E9E9E9;
}

table.table_sort tbody td.row2s {
 background: #D9D9D9;
}

table.bkr_collapse {
 margin: 0;
 border: 0;
 border-collapse: collapse;
}

div.displaytools {
 text-align:center;
 margin:0 0 10px 0;
}

div.displaytools > * {
 display:inline-block;
 vertical-align:middle;
}
/*
div.displaytools > select {
 padding:5px;
}
*/
input.cms_submit, select {
 cursor:pointer;
 font-size:18px;
}

input.iconbutton {
 margin:3px;
 padding:0;
 border:none;
 border:0;
 outline:none;
 width:2.1em;
 height:2.1em;
 background-size:2em;
 background-position:50% 50%;
 background-repeat:no-repeat;
 background-color:inherit;
 cursor:pointer;
}

input.fakelink {
 margin:0;
 padding:0;
 border:none;
 border:0;
 outline:none;
 background:none;
 text-align:left;
 text-decoration:underline;
 font-family:inherit;
/*font-size:inherit;*/
 cursor:pointer;
}

input.fakelink:hover {
 text-decoration:none;
 background:none;
}

input.fakelink:focus {
 outline: none;
}

/* registration panel */
div#authactions {
 margin-top:1em;
}

.dateinput_container {
 display:inline-block;
 border:1px solid #999999;
 border-radius:3.5px;
 padding:0;
}
.dateinput_container .dateinput {
 padding:5px;
 border:0 none;
 margin:0;
}
.dateinput_img {
 margin:2px 2px -4px 0;
 height:1.5em;
}

/* tooltip-replacement */
.tooltip {
 font-family:inherit;
 font-size:1.01em;
 text-align:center;
 text-shadow:0 1px rgba(0, 0, 0, .5);
 line-height:1.5;
 color:#fff;
 background:#595959;
 background:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .6)), to(rgba(0, 0, 0, .8)));
 background:-webkit-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
 background:-moz-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
 background:-ms-radial-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
 background:-o-linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
 background:linear-gradient(top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .8));
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 border-radius:5px;
 border-top:1px solid #fff;
 -webkit-box-shadow:0 3px 5px rgba(0, 0, 0, .3);
 -moz-box-shadow:0 3px 5px rgba(0, 0, 0, .3);
 box-shadow:0 3px 5px rgba(0, 0, 0, .3);
 position:absolute;
 padding:15px;
 z-index:100;
}

.tooltip:after {
 width:0;
 height:0;
 border-left:10px solid transparent;
 border-right:10px solid transparent;
 border-top:10px solid #595959;
 border-top-color:rgba(0, 0, 0, .7);
 content:'';
 position:absolute;
 left:50%;
 bottom:-10px;
 margin-left:-10px;
}

.tooltip.top:after {
 border-top-color:transparent;
 border-bottom:10px solid #595959;
 border-bottom-color:rgba(0, 0, 0, .6);
 top:-20px;
 bottom:auto;
}

.tooltip.left:after {
 left:10px;
 margin:0;
}

.tooltip.right:after {
 left:auto;
 right:10px;
 margin:0;
}
