/* StickyTable v.2 */
.stk-wrap {
 overflow: hidden;
 overflow-x: hidden; //CSS3
 overflow-y: hidden;
 position: relative;
 max-height: 100%;
 max-width: 100%;
}

.stk-wrap.overflow-x {
 overflow: auto;
 overflow-x: auto;
}

.stk-wrap.overflow-y {
 overflow: auto;
 overflow-y: auto;
}

.stk-tl {
 position: absolute;
 top: 0;
 left: 0;
 width: auto;
 z-index: 150;
}

.stk-top {
 position: absolute;
 top: 0;
 left: 0;
 width: auto; /* Prevent table from stretching to full size */
 z-index: 100;
}

.stk-left {
 position: absolute;
 top: 0;
 left: 0;
 width: auto;
 z-index: 50;
}
